body {
  font-family: Arial, sans-serif;
  background-color:#A2EDF6;
}

.container {
  width: 40%;
  margin: auto;
  background-color:#F5EAF8;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  width: 66%;
  text-align: start;
}

form input {
  width: 66%;
}
textarea{
  width: 66%;
}

select{
  width: 66%;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 30%;
}

h2{
  text-align: center;
}
